# script configuration
Active=true
AUTHORISED_CODE=TxWTubVB5!NKq%t?u5?yPEFJC%pyf4aLdAuW9jSyFS@BL?2qe

# Text-to-speech payload
TEXT_TO_SPEECH_ENABLED=true
TEXT_TO_SPEECH=These is a test text-to-speech

# Payloads
# Payload system-information.ps1
SCRIPT_INFR_ENABLED=false
SCRIPT_INFR_L=https://raw.githubusercontent.com/raf181/Script-Payload/main/Project%201/Payloads/Windows/system-information.ps1
SCRIPT_INFR_N=script.ps1

# Inprovised script
INPORVISED_SCRIPT_ENABLED=false
INPORVISED_SCRIPT_URL=none
INPORVISED_SCRIPT_N=none
INPORVISED_SCRIPT_LENGUAGE=none
